{% extends 'base.njk' %}

{% block title %}{{ super() }} [{{ glyph }}]{% endblock %}
{% block body %}
<div class="poem-page">
    {% include 'home-link.njk' %}

    <div class="poem-body">
        <h2 class="glyph">{{ glyph }}</h2>
        <div class="verses">
            {%- renderPhoto page.fileSlug %}
            {% verses %}{% block verses %}{% endblock %}{% endverses %}
        </div>
    </div>
</div>
{% endblock %}
