---
tags: poem
---
{% extends 'poem.njk' %}

{% block verses %}
the ancient forests,
which were ordered felled
by the ancestors of the powerful,

haunt the earth of new england,
in name and body.

the old world
would prefer to be forgotten,

but the factory farmed bison,
bones filled with the plains,
haven't learned to stampede the fence.

one day, the new growth will burn,
and they'll come back,
and taste the flowers up the coast.
{% endblock %}
