---
tags: poem
---
{% extends 'poem.njk' %}

{% block verses %}
"you're so different from me"
she says, dimly lit, slurring towards incoherence
"you're so different"
and i can't help,
but ask what she means,
though i know she's too far gone to answer

hearts beating for more than this
rub thighs in dive bars,
while the men lock themselves
in their rib cages,
and admire, hungrily

she's smiling less now,
her makeup faded, 7 drinks in,
waiting for mcdonalds
with the college kids and delivery drivers,
and i see her beauty under there,
desperate and pathetic,
and admire, hungrily
{% endblock %}
