---
tags: poem
---
{% extends 'poem.njk' %}

{% block verses %}
i'm pressed into the wall.
your gynaeceum is cold but

i'm overflowing

marginalia reaps its own rewards.
here in quiet corners
we can whisper

with our lips
{% endblock %}
