---
tags: poem
---
{% extends 'poem.njk' %}

{% block verses %}
the caged animal misses what it's never known,
dusk soaked treetops pooling and pure,
barely out of reach.
grotesque echoes warp their way in,
humming with the terror of man,
holy and righteous.

convince your body
whatever it needs to believe,
but when the pitiful thing bares teeth,
life is all we can offer.

the confines give up,
and emerge to meet the future,
who stands shyly by the door.
the soil allows our roots inside herself,
and we steal what's given.

vitrified bodies litter the past,
gravity postures, pathetic in it's ignorance,
and pulls you closer
{% endblock %}
