---
tags: poem
imgAlt: wires splay out from an electrical pole, in front of a lightly clouded sky, above a whitewashed brick building
---
{% extends 'poem.njk' %}

{% block verses %}
we'll ration our estrogen after the collapse.
break into pharmacies and stock up best we can,
this is all we've got

and through the hot flashes
and brittle bones,
the eunuchs will laugh around the fire,
and worship the earth

in her dew and her mud and her leaves,
we'll drink clean and pure of our bodies,
microplastic shreds of synthetic blues and reds
flutter quietly on shattered asphalt

we grow soy beans and sweet potatoes in the hills
and the chickens clear their patch for next year,
and the dykes down the street
come over to play cards

in time, you learn to forget
everything you take for granted,
and speak only the words you create.

and the boys 40 years into their hometown,
play with their guns in the woods,
but here we sing and set up speakers
in the back room, bassy and blown out,
and we find the things our hearts
were trying to tell us about
{% endblock %}
