---
tags: poem
imgAlt: a statue heads into the sunset, past a sickly landscaped garden
---
{% extends 'poem.njk' %}

{% block verses %}
your bones evolved from armor,
deep and far away,
the late permian radiates through your synapses,
and you know what it was,

to be a small scared thing in the dark,
pulsing with electrons,
this is all you can believe.
your brainstem wriggles,
trapped by the structures you grew around it,

and the cambrian dreams past your limbs,
through an endless expanse of stippled reef,
late devonian rot bleeding to anoxia,
chitinous scavengers feasting until they swell
and spill out over the sun god's blistered lips.

it is holy to cremate their bodies,
refined pure
through an endless expanse of rusting capillaries.
oil filled cysts belch the filth of the cosmos,
leaking up from deranged concrete pillars.

draw it into your stomach,
and light the spark
{% endblock %}
