---
tags: poem
imgAlt: a new construction, half built, reaches into the sky
---
{% extends 'poem.njk' %}

{% block verses %}
the humming iron core
of our bodies,
weaves her gentle threads through
our molten soft innards

and we lie in the strangled
roadside bramble, hemmed with asphalt,
alongside the spindly trunks
and tangled chainlink

the early spring wood,
desperate and sharp,
roots leafless in the banks of our ferrous creeks,
where mycelium gathers along our margins

the howling sun watches from his perch,
as we breathe his heat into
scuffed concrete and rusted beams,
patiently eroding into the rising sea

culture tumbles through our tongues,
eutrophic and stagnant,
we watch it trickle over the budding grasses,
anoxia seeping into hard packed dirt

and when we wake to the moon lapping
up the furious longing in our blood,
we allow her to take everything we can give,
and nearly feel content
{% endblock %}
