---
tags: poem
---
{% extends 'poem.njk' %}

{% block verses %}
my muse is the city
eerie dawned,
her matter in earnest,
reaching silently into humid moonlight

and the melted bodies of extinct things
bubble up between our bodies,
ankle deep tar tugging at our skirt hems,
cloying and rancid

the wordless hum sinks teeth 
into ripe flesh.
discarded glances are easily ignored, 
you approach, timid and pathetic

is this all we've got?

the drunks and the aimless cross paths
and pity each other,
finding their own ways home,
helplessly lonely 

and the barren hotel lobbies,
darkened coffee shops,
and closed up bars
sigh gently, free from acrid light
{% endblock %}
