---
tags: poem
---
{% extends 'poem.njk' %}

{% block verses %}
i want to curl up beneath the kitchen stove, 
feel her warmth and bake,
and the city shrinks up around my body, 
and the dead products, 
made for coveting,
hanging in the glass shop window

the neon smiles and private security SUV
hover inches apart,
branches carving off from spacetime,
tingling in the static, 
and the government agent hanging out
in the 24/7 McDonald's
has started whispering into his shirt

and firmly, warmly,
she's looking at you, 
distant and foolish, 
and she can't help but pity
the way you melt
{% endblock %}
