---
tags: poem
---
{% extends 'poem.njk' %}

{% block verses %}
i want to curl up beneath the kitchen stove, 
feel her warmth and bake,
and the city shrinks up around my body, 
and all the dead products,
made for coveting,
wait patiently for the landfill
through their shining windows

neon smiles hover inches from
a private security van,
branches carving off from spacetime,
tingling in the static, 
and the government agent hanging out
in the 24/7 McDonald's
is whispering into his shirt

and firmly, warmly,
she's looking at you, 
distant and foolish, 
and she can't help but pity
the way you melt
{% endblock %}
