---
tags: poem
---
{% extends 'poem.njk' %}

{% block verses %}
the things behind the doors of
every room you'll never enter,
peer out their eyeholes,
curious and impatient,

and the bookshelves and dining tables
slip out the window,
raw heaps of past bodies,
dust and mud,
scatter softly into stone and sea,
salt suspended, drying into shards,
blessed by the sun

and the gods strangle each other,
thrashing lethal, gleaming,
pouring iron and lead across your skull,
swallow it up,
if you like,

but i'm not here anymore,
and all the gone places
who modernity buried in concrete,
things sculpted and woven,
carved and smoothed,
surfaces raw with life,

slide up alongside me
alien and fantastic,
always behind glass,
and the hands who made us sing,
hair bristling beneath fingertips,
smooth skin
cool and sticky,
and we've never been anything other than an animal

and we've never seen the sky before tonight
{% endblock %}
