---
tags: poem
---
{% extends 'poem.njk' %}

{% block verses %}
we can't help yearning
for the things that don't exist yet

neolithic painters, 
who can only find ochre,
aching for greens and blues

the used-to things
ebb tidal in our bodies,
useless memory vibrating static,
bound in ancient graves,
littered with flowers and forgotten rituals

the things we've made will remain,
until they've dissolved,
long past all the imagined ones,
symbolic and hallucinatory,
remembered, beloved
{% endblock %}
