---
tags: poem
---
{% extends 'poem.njk' %}

{% block verses %}
the deep sea worms
burrow through geothermal vents
then become churned to mud by a machine
searching for future car batteries.
cheaper than children
bursting with cobalt dust
picking specs from dry red earth

let me drink up cosmic rays
until the heat sates me,
rhythmic and pure

the deep sea corals
ancient and slow, in a symbiotic dance of bone
get snagged on fishing nets and crumble
in service of the bounty of flesh.
chopped to paste, bathed in hot oil
dripping with mercury
painfully norishing

satellites fall forever, cold and lifeless
the moon can't look away
she does everything she can,
but we don't listen
{% endblock %}
