body {
    font-size: 200%;
    width: 100%;
    margin: 0
}

h1 {
    font-size: 2em;
    margin: 0;
    margin-bottom: 1em;
}

h2 {
    margin: 0;
}

p {
    white-space: pre-line;
    font-size: 0.55em;
}

a {
    text-decoration: none;
}
