@font-face {
    font-family: GeometryAddict;
    src: url(font/GeometryAddict.otf);
}

@font-face {
    font-family: Mulish;
    src: url(font/Mulish.ttf);
}

@font-face {
    font-family: NineMatScript;
    src: url(font/NineMatScript.otf);
}
