.content {
    margin: 4vh 4vh;
}

@media screen and (min-width: 70rem) {
    .content {
        margin: 4vh 30vh;
    }
}

.poem-body {
    display: flex;
    margin-bottom: 5em;
}

.poem-body .glyph {
    display: flex;
    margin-right: 0.2em;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.poem-links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.poem-links .glyph {
    flex: 0 0 auto;
}

.glyph {
    font-family: NineMatScript;
    font-size: 3.5em;
    font-weight: normal;
    writing-mode: sideways-rl;
    margin-bottom: 0.115em;
}

.verses {
    margin-left: 0.5em;
    box-sizing: border-box;
    width: 100%;
}

.photo {
    width: 100%;
    height: auto;
    max-height: 75vh;
    object-fit: contain;
    object-position: left;
}
