{% extends "base.njk" %}

{% block body %}
<div class="home">
  {% include 'home-link.njk' %}
  <div class="poem-links">
    {%- for poem in collections.poem | reverse -%}
      <a class="glyph" href="{{ poem.url }}">
        {{ poem.data.glyph }}
      </a>
    {%- endfor -%}
  </div>
</div>
{% endblock %}
