{% extends "base.njk" %}

{% block body %}
<div class="home">
  {% include 'home-link.njk' %}
  <div>
    {%- for poem in collections.poem -%}
      <a class="date" href="{{ poem.url }}">
        {{ poem.data.glyph }}
      </a>
    {%- endfor -%}
  </div>
</div>
{% endblock %}
